*{
    margin: 0px;
    font-family: 'Poppins', 'Roboto';
    box-sizing: border-box;
}

body {
    background-color: #ececec;
    color: #333333;
}

header {
    background-color: #e4e0e0;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    background-image: url("resources/logo.png");
    height: 99px;
    width: 227px;
    margin: 10px;
}

.location {
    display: flex;
    align-items: center;
    gap: 10px;
    margin:10px;
}

.location i {
    color: #7AB743;
}

.location p {
    color: #333333;
    font-size: 20px;
    font-weight: regular;
    opacity: 0.6;
}

.banner {
    background-image: url("resources/image 1.png");
    background-color: #333333;
    margin: 40px;   
    height: 410px;
    background-size: cover;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.banner p {
    color: white;
    font-weight: bold;
    margin-left: 20px;
    font-size: 64px;
    text-align: bottom;
    margin-top: 150px;
}
